body{
    background-color: black;
}
.style {
    margin-left: 10px;
    
}

.style h1 {
    font-family: 'BalooBhai', cursive;
    color: white;
    text-decoration: underline;
    margin-left: 500px;
}

.style:hover img {
    transform: scale(1.05);
    transition: 1s ease-in-out;
    opacity: 0.8;
}