.back-video video {
    position: absolute;
    width: 100%;
    height: 100vh;
          object-fit: cover;
    margin-top:0px;
     right: 0;
    bottom: 0;
    
    
}
body {
    font-family: 'Baloo Bhai', cursive;
    color: white;
    /* margin: 0px;
    padding: 0px; */
    /* background-color: black; */
    background-size: cover;
    background-repeat: no-repeat;
}

.left {
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 40px;
   
}
.left img {
    width: 150px; 
    filter: invert(100%);
}

.left div {
    line-height: 19px;
    font-size: 26px;
    text-align: center;
}

.mid {
    /* border: 2px solid green; */
    display: block;
    width: 50%;
    margin: 29px auto;
    position: relative;
}

.right {
    /* border: 2px solid blue; */
    position: absolute;
    right: 5px;
    top: 43px;
    width: 30%;
    display: inline-block;
}

.navbar1 {
    display: inline-block;
}

.navbar1 li {
    display: inline-block;
    font-size: 15px;
}

.navbar1 li a {
    color: rgb(193, 171, 171);
    text-decoration: none;
    padding: 34px 23px;

}

.navbar1 li a:hover,
.navbar1 li a.active {
    text-decoration: none;
    color: grey;

}

.navbar2 {
    display: inline-block;
}

.navbar2 li {
    display: inline-block;
    font-size: 15px;
}

.navbar2 li a {
    color: rgb(193, 171, 171);
    text-decoration: none;
    padding: 34px 23px;

}

.navbar2 li a:hover {
    text-decoration: underline;
    color: grey;

}
